body {
  background-color: #fafafa;
}

#app {
  padding: 20px;
  border: solid 2px #ddd;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  display: flex;
  align-content: space-between;
  margin: 10px 0;
  * {
    padding: 5px;
    margin: 0 5px;
  }
}